body {
    background-color: lightslategray;
}

.center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    font-size: 1rem;
    font-weight: bold;
}

.hidden {
    visibility: hidden;
}